*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    text-align: center;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: inline-block;
    grid-template-columns: 1fr 1fr;
}


.pokeball{
    width: auto;
    height: auto;
}

.pokedex_notmain{
    display: flex;
    justify-content: center;
}

h1{
    font-size: 250%;

    background-color: rgba(240, 248, 255, 0.9);
}

#pokedex{
    display: inline-block;
    position: relative;
    margin-top: 5%;
}

.pokedex_img{
    margin-top: 5%;
    width: 100%;
    height: 100%;
}
#pokemon_sprite{
    position: absolute;
    top: 35%;
    right: 40%;
    width: auto;
    height: auto;
    transform: scale(1.5);

}

.pokedex_button:hover{
    transform: scale(1.05);
}
.pokedex_button{
    position: absolute;
    top: 77.5%;
    left: 16%;
    width: 14%;               /* largura para o botão */
    height: 8%;              /* altura para o botão */
    padding: 0;
    margin: -15px 0 0 -30px;   /* margem à esquerda e ao topo metade da medida do botão */
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 1);
}

.pokedex_capturebutton:hover{
    transform: scale(1.05);
}
.pokedex_capturebutton{
    position: absolute;
    top: 80%;
    right: 10%;
    width: 26%;               /* largura para o botão */
    height: 13%;              /* altura para o botão */
    padding: 0;
    margin: -15px 0 0 -30px;   /* margem à esquerda e ao topo metade da medida do botão */
    border-color: rgba(97, 62, 62, 1);
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
}

.pokemon_name{
    position:absolute;
    top: 87.5%;
    left: 42%;
    width: 14%;               /* largura para o botão */
    height: 8%;              /* altura para o botão */
    padding: 0;
    margin: -15px 0 0 -30px;   /* margem à esquerda e ao topo metade da medida do botão */
}
.pokemon_id{
    font-size: 130%;
    position:absolute;
    top: 11.7%;
    left: 18%;
    width: 14%;               /* largura para o botão */
    height: 8%;              /* altura para o botão */
    padding: 0;
    margin: -15px 0 0 -30px;   /* margem à esquerda e ao topo metade da medida do botão */

}
#pokemon_input{
    position: absolute;
    left: 22%;
    height: 7%;
    top: 66%;
    border-radius: 10%;
    color: black;
    text-align: center;
    font-size: 95%;
}

.capturar{
    font-size: 130%;
    position:absolute;
    top: 93%;
    left: 74%;
    width: 14%;               /* largura para o botão */
    height: 8%;              /* altura para o botão */
    padding: 0;
    margin: -15px 0 0 -30px;   /* margem à esquerda e ao topo metade da medida do botão */

}


#get{
    background-color: red;
    color:white;
}


/*time de pokemons capturados */

.listatime_notmain{
    position: absolute;
    justify-content: center;
    top: 0%;
    right: 30%;
}


.listatime_main{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    position: absolute;
    right: 30%;
    top: 15%;
}
.listatime_main p{
    border: solid black;
    top: 15%;
    font-size: 180%;
    background-color: rgba(240, 248, 255, 0.6);
}

.detalhes{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    position: absolute;
    top: 6%;
    left: 60%;
    width: 23%;
    height: 6%;
}
.detalhes button{
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    color: white;
}

#PokemonListContainer{
    display: flex;
    justify-content: center;
}